.hour-block, .text-block, .save-block {
    outline: 1px solid lightgray;
    padding:0px;
}


button{
  background-color: lightskyblue;
  color:white;
  border-right-style: round;
  width: 100%;
 height: 100%;
}

textarea{
    width:100%;
    height: 100%;
    float:left;
    left:0px;
    padding:0px;
    background-color: transparent;
}


.header{
    position: absolute;
    top:30px;
}

.main-area {
    padding-top: 80px;
    margin-top: 100px;
}

hr{
    border-top: 3px solid black;
}

.hour-block{
    text-align: center;
}

h1, h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}